<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        <ion-icon name="menu"></ion-icon>Meni
            </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item fill="clear" color="dark" size="small" routerLink="/main" routerDirection="root">
        <ion-icon name="search-circle"></ion-icon>        
        Pretrazi polaske
      </ion-item>
      <ion-item fill="clear" color="dark" size="small" routerLink="/moje-rezervacije" routerDirection="root">
        <ion-icon name="bag-check"></ion-icon>
        Moje rezervacije
      </ion-item>
      <ion-item fill="clear" color="dark" size="small" routerLink="/moj-nalog" routerDirection="root">
        <ion-icon name="person"></ion-icon>
                Moj nalog
      </ion-item>
      <ion-item (click)="izlogujSe()" fill="clear" color="dark" size="small">
        <ion-icon name="log-out"></ion-icon>
        Odjavi se
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<ion-content>
<body>
  

<ion-list>
    <ion-item class="pocetnaStanica">
      <ion-label class="stanicaNazivLbl">
        <ion-icon name="flag"></ion-icon>     Pocetna stanica</ion-label>
      <ion-select class="stanicaSelect" [(ngModel)]="stanice1.nazivStanice"  interface="popover" placeholder="Izaberi stanicu">
        <ion-select-option *ngFor="let stanica1 of stanice1" [value]="stanica1">{{stanica1.nazivStanice}}</ion-select-option>
      </ion-select>
    </ion-item>
</ion-list>



<ion-list>
  <ion-item class="krajnjaStanica">
    <ion-label class="stanicaNazivLbl">
      <ion-icon name="flag"></ion-icon>                  Krajnja stanica</ion-label> 
    <ion-select class="stanicaSelect" [(ngModel)]="stanice2.nazivStanice"  interface="popover" placeholder="Izaberi stanicu">
        <ion-select-option  *ngFor="let stanica2 of stanice2" [value]="stanica2">{{stanica2.nazivStanice}}</ion-select-option>
     </ion-select>
  </ion-item>
</ion-list>
<ion-item>
  <ion-label>
    <ion-icon name="calendar"></ion-icon>
    Datum</ion-label>
<ion-datetime  class="datum" [(ngModel)]="selectedDate" (ionChange)="convert()" [min]="today" placeholder="Datum"> </ion-datetime>
</ion-item>

<div class="actionButtonDiv">
<ion-button (click)="pretrazi(stanice1.nazivStanice,stanice2.nazivStanice)" type="submit" class="actionbutton" expand="block" fill="clear" style="text-transform: none;">
  <ion-icon name="search"></ion-icon>
  Pretrazi polaske</ion-button>
</div>
<ion-grid>
 
 
  <ion-card class="card">
    <ion-row>
      <ion-col class="rb">
        <ion-icon name="ellipsis-vertical-circle-outline"></ion-icon>
            R.B.</ion-col>
      <ion-col class="linija">
        <ion-icon name="train"></ion-icon>
        Linija</ion-col>
      <ion-col class="datumPolazak">
        <ion-icon name="time"></ion-icon>
        Polazak</ion-col>
      <ion-col class="datumDolazak">
        <ion-icon name="time"></ion-icon>
        Dolazak</ion-col>
    </ion-row>
  </ion-card>
<ion-card *ngFor="let polazak of polasci; let i=index">
  <ion-row>
    <ion-col class="rb">
        {{i+1}}
    </ion-col>
    <ion-col class="linija">
        <p class="linija">{{polazak.linija.stanicaPocetna.nazivStanice}}  {{polazak.linija.stanicaKrajnja.nazivStanice}} ({{polazak.linija.tipLinije.naziv}})</p>
    </ion-col>
    <ion-col class="datumPolazak">
      <p class="datumPolazak">{{polazak.datumPolaska | date: 'dd/MM/yyyy HH:mm'}}</p>
  </ion-col>
  <ion-col class="datumDolazak">
    <p class="datumDolazak">{{polazak.datumDolaska | date: 'dd/MM/yyyy HH:mm'}}</p>
</ion-col>
  </ion-row>
  <ion-button class="vratiMedjustanice" (click)="vratiMedjustaniceZaPolazak(polazak.linija.linijaID)">Medjustanice
    <ion-icon name="train"></ion-icon>
  </ion-button>
  <ion-button class="rezervisi" (click)="rezervisiKartu(polazak.polazakID)">Rezervisi
    <ion-icon name="checkbox"></ion-icon>
  </ion-button>
</ion-card>
</ion-grid>
</body>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Footer - No Border</ion-title>
  </ion-toolbar>
</ion-footer>

