.rb{
    width: 2px;
}
.linija{
    width: 100px;
}

.datumPolazak{
    min-width: 80px;
    text-align: right;
}
.datumDolazak{
    min-width: 80px;
    text-align: right;
}
.actionbutton{
    min-width: 100px;
    background-color:#999999;
    color:#000000;
    font-size: 20px;
}
.rb{
    min-width: 5px;
    max-width: 30px;
    text-align: left;
}
.linija{
    min-width: 5px;
    max-width: 75px;
    text-align: right;
}
.rezervisi{
    right: 0px;
}


