<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Налог
    </ion-title>
  </ion-toolbar>
</ion-header>
<form #a="ngForm" (ngSubmit)="izmeniNalog(a)"></form>
  <ion-content >
    <div class="ion-padding">
     <ion-input type="text" placeholder="Емаил адреса"  ngModel name="email" required></ion-input> <br>
    <ion-input type="text" placeholder="Корисничко име" ngModel name="username" required  ></ion-input><br>
     <ion-input type="text" placeholder="Име" ngModel name="firstname" required></ion-input><br>
      <ion-input type="text" placeholder="Презиме" ngModel name="lastname" required ></ion-input><br>
     <ion-input type="password" placeholder="Лозинка" ngModel name="password" required  ></ion-input><br>
      <ion-input type="password" placeholder="Понови лозинку" ngModel name="repassword" required ></ion-input>
    </div>
    <ion-button type="submit" class="actionbutton" expand="block" fill="clear" style="text-transform: none;">
      <ion-icon name="person-add"></ion-icon>
     Промени податке</ion-button>
  </ion-content>

  