ion-content.background{
    --background: url('../../assets/picture/plava-bela.jpg') no-repeat left 50%/cover;
}
.rb{
    max-width: 30px;
    min-width: 30px;
    text-align: right;
}
.linija.kol{
    min-width: 90px;
    max-width: 90px;
    text-align: right;
}
.linija{
    min-width: 90px;
    max-width: 90px;
    text-align: left;
}
